*.py[cod]
venv
*.so
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
venv*
__pycache__
pip-log.txt
.coverage
.tox
nosetests.xml
*.mo
.project
.pydevproject
.idea
